<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Posts</h4>
        </div>
    </div>
</div>

<div class="row">
    
    <div class="col-md-8 m-auto" *ngIf="(post | json) != ({} | json)">

        <div class="card tilebox-one">
            <div class="card-body mb-3">
                <i class='fa fa-info-circle float-end'></i>
                <h3 class="text-uppercase mt-0">Last Post Info</h3>
                <h5 class="text-uppercase mt-0">Created On : {{ post.created_at | date:'dd/mm/yyyy hh:mm a'}}</h5>
                <h5 class="text-uppercase mt-0">ID : {{ post.id }}</h5>
                <h5 class="text-uppercase mt-0">Message : {{ post.text }}</h5>
            </div> <!-- end card-body-->
        </div>

    </div>
    <div class="col-md-8 m-auto" *ngIf="message != ''">

        <div class="card tilebox-one">
            <div class="card-body mb-3">
                <i class='fa fa-info-circle float-end'></i>
                <h3 class="text-uppercase mt-0">No data</h3>
                 
            </div> <!-- end card-body-->
        </div>

    </div>
</div>