
<div class="account-pages pt-1 pt-sm-3 pb-2 pb-sm-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class=" col-md-8">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center pb-0 fw-bold">Send Message</h4>
                        </div>

                        <form #addPostForm="ngForm">
                            <div class="mb-3">
                                <label for="pageId" class="form-label">Twilio Id</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" class="form-control" placeholder="Enter your User Token"
                                        required name="twilio" #twilio="ngModel" ngModel>
                                    <div class="input-group-text" data-password="false">
                                        <span class="fa fa-eye"></span>
                                    </div>

                                </div>
                                <span *ngIf="twilio.invalid && twilio.touched" style="color: red;"> Field Required
                                </span>
                            </div>
                            <div class="mb-2">
                                <label for="authToken" class="form-label">Auth Token</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" class="form-control" placeholder="Enter your Page Token"
                                        required name="authToken" #authToken="ngModel" ngModel>
                                    <div class="input-group-text" data-password="false">
                                        <span class="fa fa-eye"></span>
                                    </div>
                                </div>
                                <span *ngIf="authToken.invalid && authToken.touched" style="color: red;"> Field Required
                                </span>
                            </div>
                            <div class="mb-2">
                                <label for="to" class="form-label"> TO </label>
                                <input class="form-control" type="text" name="to" required placeholder="Eg: +91xxxxxxxxxx" #to="ngModel" ngModel>
                                <span *ngIf="to.invalid && to.touched" style="color: red;"> Field Required </span>
                            </div>
                            <div class="mb-3">
                                <label for="pageId" class="form-label">API Key</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" class="form-control" placeholder="Enter your Api Key"
                                        required name="API_KEY" #API_KEY="ngModel" ngModel>
                                    <div class="input-group-text" data-password="false">
                                        <span class="fa fa-eye"></span>
                                    </div>

                                </div>
                                <span *ngIf="API_KEY.invalid && API_KEY.touched" style="color: red;"> Field Required
                                </span>
                            </div>
                            <div class="mb-3">
                                <label for="pageId" class="form-label">API Key Secret</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" class="form-control" placeholder="Enter your Api Key Secret"
                                        required name="API_KEY_SECRET" #API_KEY_SECRET="ngModel" ngModel>
                                    <div class="input-group-text" data-password="false">
                                        <span class="fa fa-eye"></span>
                                    </div>

                                </div>
                                <span *ngIf="API_KEY_SECRET.invalid && API_KEY_SECRET.touched" style="color: red;"> Field Required
                                </span>
                            </div>
                            <div class="mb-2">
                                <label for="authToken" class="form-label">Access Token</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" class="form-control" placeholder="Enter your Access Token"
                                        required name="ACCESS_TOKEN" #ACCESS_TOKEN="ngModel" ngModel>
                                    <div class="input-group-text" data-password="false">
                                        <span class="fa fa-eye"></span>
                                    </div>
                                </div>
                                <span *ngIf="ACCESS_TOKEN.invalid && ACCESS_TOKEN.touched" style="color: red;"> Field Required
                                </span>
                            </div>
                            <div class="mb-2">
                                <label for="authToken" class="form-label">Access Token Secret</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" class="form-control" placeholder="Enter your Access Token Secret"
                                        required name="ACCESS_TOKEN_SECRET" #ACCESS_TOKEN_SECRET="ngModel" ngModel>
                                    <div class="input-group-text" data-password="false">
                                        <span class="fa fa-eye"></span>
                                    </div>
                                </div>
                                <span *ngIf="ACCESS_TOKEN_SECRET.invalid && ACCESS_TOKEN_SECRET.touched" style="color: red;"> Field Required
                                </span>
                            </div>
                            <div class="mb-3">
                                <label for="pageId" class="form-label">Page Id</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" class="form-control" placeholder="Enter your User Token"
                                        required name="pageId" #pageId="ngModel" ngModel>
                                    <div class="input-group-text" data-password="false">
                                        <span class="fa fa-eye"></span>
                                    </div>

                                </div>
                                <span *ngIf="pageId.invalid && pageId.touched" style="color: red;"> Field Required
                                </span>
                            </div>
                            <div class="mb-2">
                                <label for="pageToken" class="form-label">Page Token</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" class="form-control" placeholder="Enter your Page Token"
                                        required name="pageToken" #pageToken="ngModel" ngModel>
                                    <div class="input-group-text" data-password="false">
                                        <span class="fa fa-eye"></span>
                                    </div>
                                </div>
                                <span *ngIf="pageToken.invalid && pageToken.touched" style="color: red;"> Field Required
                                </span>
                            </div>
                            <div class="mb-2">
                                <label for="example-textarea" class="form-label">Message</label>
                                <textarea class="form-control" rows="8" name="message" required
                                    #message="ngModel" ngModel></textarea>
                                <div *ngIf="message.invalid && message.touched" style="color: red;">
                                    Field Required
                                </div>
                            </div>
                            <div class=" mb-0 text-center">
                                <button class="btn btn-primary" type="submit" (click)="addPost(addPostForm)"
                                    [disabled]="!addPostForm.valid">Send Message
                                    <span class="spinner-border spinner-border-sm" role="status" *ngIf="loading"></span>
                                </button>
                            </div>

                        </form>
                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->



            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>