
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Posts</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-11 m-auto">
        <div class="card p-2" style="overflow: auto;">

            <table class="table table-centered table-bordered mb-0">
                <thead class="table-dark">
                    <tr>
                        <th>Sl No</th>
                        <th>ID</th>
                        <th>Message</th>
                        <th>Create On</th>
                        <th>Action</th>
                         
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let post of posts; let i = index">
                        
                        <td>
                            {{ i+1 }}
                        </td>
                        <td>
                            {{ post.id }}
                        </td>
                        <td>
                            {{ post.message }}
                        </td>
                        <td>
                            {{ post.created_time | date:'dd/mm/yyyy hh:mm a' }}
                        </td>
                        <td>
                            <button class="btn btn-danger">

                                <i class="fa fa-trash" ></i>
                            </button>
                        </td>
                         
                         
                        
                         
                         
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>