
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Posts</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-11 m-auto">
        <div class="card p-2" style="overflow: auto;">

            <table class="table table-centered table-bordered mb-0">
                <thead class="table-dark">
                    <tr>
                        <th>Sl No</th>
                        <th>Name</th>
                        <th>Url</th>
                         
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let post of posts; let i = index">
                        
                        <td>
                            {{ i+1 }}
                        </td>
                        <td>
                            {{ post.name }}
                        </td>
                        <td>
                            <a href="{{ post.url }}">{{ post.url }}</a>
                            
                        </td>                         
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>